:root {
  /* Brand Constants */
  --xenon-color-cyan: rgba(0, 242, 255, 1);
  /* #00f2ff */
  --xenon-color-purple: rgba(112, 0, 255, 1);
  /* #7000ff */
  --xenon-color-magenta: rgba(157, 23, 77, 1);
  /* #9d174d */

  /* The Black & Dark Scale */
  --xenon-color-black: rgba(0, 0, 0, 1);
  /* #000000 */
  --xenon-color-black-transparent: rgba(0, 0, 0, 0.5);
  /* #00000080 */
  --xenon-color-black-none: rgba(0, 0, 0, 0);
  /* #00000000 */
  --xenon-color-charcoal: rgba(10, 10, 12, 1);
  /* #0a0a0c */
  --xenon-color-dark-transparent: rgba(10, 10, 12, 0.3);
  /* #0a0a0c4d */

  --xenon-color-dark-base: rgba(20, 20, 22, 1);
  /* #141416 Consolidated from void/onyx */
  --xenon-color-dark-surface: rgba(35, 36, 40, 1);
  /* #232428 Consolidated from charcoal/steel */
  --xenon-color-grey-ash: rgba(46, 46, 46, 1);
  /* #2e2e2e */
  --xenon-color-grey-dim: rgba(62, 62, 62, 1);
  /* #3e3e3e */
  --xenon-color-grey-stone: rgba(136, 136, 136, 1);
  /* #888888 */
  --xenon-color-silver: rgba(205, 205, 205, 1);
  /* #cdcdcd Consolidated from mute/bright */

  /* Light Scale */
  --xenon-color-white: rgba(255, 255, 255, 1);
  /* #ffffff */
  --xenon-color-white-translucent: rgba(255, 255, 255, 0.65);
  /* #ffffffa9 */
  --xenon-color-white-transparent: rgba(255, 255, 255, 0.25);
  /* #ffffff40 */
  --xenon-color-white-faint: rgba(255, 255, 255, 0.04);
  /* #ffffff0a */

  /* Effects */
  --xenon-color-glow: rgba(217, 176, 255, 1);
  /* #d9b0ff */
  --xenon-color-glow-spread: rgba(191, 123, 255, 0.781);
  /* #bf7bffc7 */

  /* Additional Accents */
  --xenon-color-cyan-transparent: rgba(0, 242, 255, 0.5);
  /* #00f2ff80 */
  --xenon-color-cyan-faint: rgba(0, 242, 255, 0.2);
  /* #00f2ff33 */
  --xenon-color-blue-electric: rgba(64, 186, 247, 1);
  /* #40baf7 */
  --xenon-color-blue-soft: rgba(113, 164, 240, 1);
  /* #71a4f0 */
  --xenon-color-neon-mint: rgba(91, 252, 196, 1);
  /* #5bfcc4 */
  --xenon-color-magenta-bright: rgba(243, 74, 215, 1);
  /* #f34ad7 */
  --xenon-color-magenta-transparent: rgba(157, 23, 77, 0.4);
  /* #9d174d66 */
  --xenon-color-magenta-faint: rgba(157, 23, 77, 0.08);
  /* #9d174d14 */
  --xenon-color-pink-glow: rgba(255, 36, 233, 1);
  /* #ff24e9 */
  --xenon-color-pink-soft: rgba(245, 147, 228, 1);
  /* #f593e4 */
  --xenon-color-violet-glow: rgba(135, 49, 246, 1);
  /* #8731f6 */
}